.todoForm {
  margin: 1rem auto;
  padding: 1.5rem;

  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border: 2px solid royalblue;
  border-radius: 5px;

  background: #85c0ae37;

  label {
    font-size: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.input-todoForm,
.select-todoForm,
.button-todoForm {
  width: 200px;

  padding: 0.5rem 1rem;

  border: 1px solid whitesmoke;
  border-radius: 5px;

  color: #ffffff;
  background: #2d3a5b;
}

.input-todoForm:focus,
.select-todoForm:focus,
.button-todoForm:focus {
  outline: none;
  border: 1px solid whitesmoke;
}

.select-todoForm {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
